field.widget.settings.strawberryfield_webform_inline_widget:
  type: config_object
  label: 'Webform Inline Widget Schema'
  mapping:
    placeholder:
      type: string
      label: 'Placeholder'
    webform_id:
      type: string
      label: 'Webform ID'
    render_always:
      type: boolean
      label: 'Always render inline'
    hide_cancel:
      type: boolean
      label: 'Do not show the Cancel button once inline'
    rows:
      type: integer
      label: 'Rows'
field.widget.settings.strawberryfield_webform_widget:
  type: config_object
  label: 'Webform Widget Schema'
  mapping:
    placeholder:
      type: string
      label: 'Placeholder'
    webform_id:
      type: string
      label: 'Webform ID'
    rows:
      type: integer
      label: 'Rows'
field.widget.settings.webform_entity_reference_autocomplete:
  type: field.widget.settings.entity_reference_autocomplete
  label: 'Webform Entity Reference Autocomplete Schema'
  mapping:
    match_limit:
      type: integer
      label: 'Match Limit'
    default_data:
      type: boolean
      label: 'Default Data'

webform.handler.a_strawberryfield_harvester:
  type: mapping
  label: 'A Strawberryfield harvester/seeder Webform handler. The piece of resistance between fixed schemas and JSON'
  mapping:
    submission_url:
      type: string
      label: 'A remote URL endpoint where in the future you can double submit/log your data'
    upload_scheme:
      type: string
      label: 'The default upload scheme for file uploads managed by this webform handler. Suggested is S3'
